@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Main */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
    ;
}

body {
    font-family: 'Roboto', sans-serif;
}

.gradient-text {
    background: -webkit-linear-gradient(left, #D76EA4, #7A88C8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
}

.btn-gradient {
    background: -webkit-linear-gradient(left, #D76EA4, #7A88C8);
    color: white;
    border: none;
}

.social-links {
    font-size: 1.5rem;
}

/* Scroll Bar */

#scrollpath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    display: none;
}

#progressbar {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #D76EA4, #7A88C8);
    animation: animate 5s linear infinite;
    display: none;
}

#progressbar:before,
#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #D76EA4, #7A88C8);
    filter: blur(10px);
}

#progressbar:after {
    filter: blur(30px);
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg)
    }

    50% {
        filter: hue-rotate(360deg)
    }
}

::-webkit-scrollbar {
    width: 0;
}

#percent {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) rotateX(180deg) rotateY(180deg);
    right: 15px;
    background: -webkit-linear-gradient(left, #D76EA4, #7A88C8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
    font-size: 2rem;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    display: none;
    z-index: 99999;
}

/* Scroller Icon */

.scroller {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.scroller span {
    display: block;
    width: 15px;
    height: 15px;
    background: linear-gradient(to top, #D76EA4, #7A88C8);
    border-radius: 50%;
    transform: rotate(45deg);
    animation: scrollbutton 2s infinite;
}

.scroller span:nth-child(2) {
    animation-delay: -0.2s;
}

.scroller span:nth-child(3) {
    animation-delay: -0.4s;
}

.scroller span:nth-child(4) {
    animation-delay: -0.6s;
}

@keyframes scrollbutton {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* Nav */

.navbar {
    padding: 0 !important;
    background-color: #fff;
}

.logo {
    font-size: 2.5rem !important;
}

.gradient-nav {
    background: -webkit-linear-gradient(left, #D76EA4, #7A88C8);
    color: white;
    border: none;
}

.shadow-sm {
    box-shadow: none !important;
}

.dropdown-menu {
    background-color: #fff;
    text-align: center;
}

.dropdown-menu li {
    text-align: center;
    padding-top: 20px;
}

.dropdown-menu a {
    color: #7A88C8;
}

.dropdown-menu a:hover {
    background-color: #0a0b11;
    color: #D76EA4;
}

/* Home */

.header {
    font-size: 3rem !important;
}

.subheader {
    font-size: 1.5rem !important;
    font-family: 'Antonio', sans-serif;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100%;
    background-color: #fff !important;
}

/* About */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100%;
    background-color: #0a0b11 !important;
}

.about-header {
    font-size: 2.5rem !important;
}

.about-text {
    line-height: 2rem;
    letter-spacing: 2px;
}


/* Projects */

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100%;
    background-color: #fff !important;
}

.card {
    --angle: 0deg;
    border: #7A88C8 3px solid;
    border-image: conic-gradient(from var(--angle), #D76EA4, #7A88C8) 1;
    animation: 7s rotate linear infinite;
}

.card-body {
    min-height: 150px;
}

.card-text {
    font-size: 0.8rem;

}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

/* Contact */

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100%;
    background-color: #0a0b11 !important;
}

.contact-icon {
    font-size: 1.5rem;
}

.contact-social {
    color: aliceblue
}

/* Footer */


/* Media Queries */

@media only screen and (min-width: 1400px) {
    #scrollpath {
        display: block;
    }

    #progressbar {
        display: block;
    }

    #percent {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .scroller {
        display: block;
    }
}